*, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

/*    */

.nav-bar, ul{
    display: flex;
    justify-content: center;
    align-items: center;
   

}
.nav-bar{
    justify-content: space-between;
    align-items: center;
}

ul{
   
}

li {
    margin: 0.5rem;
    text-decoration: none;
    list-style: none;
}

main{

    align-items: center;
    justify-content: center;
    margin-left: 2rem;
}

.main-section{
    display: block; 
    
    
    /* grid-template-columns: repeat(4, 1fr); */
}


.card-containner{
   
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 0.5em;
   
}
.card{
    width: 400px;
    height: 450px;
    border-radius: 2% 3%;
}


@media(max-width :1110px) {
    .card-containner{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;

    }   
}

@media(max-width :650px) {
    .card-containner{
        display: block;

    }
}

